@model BookUpdateRequest
@{
    ViewBag.Title = "Edit Book";
}

<a href="~/books/index">Back to Books List</a>
<h2>Edit a book</h2>

<div class="w-50">
    <form asp-controller="Books" asp-action="Edit" method="post">
        
        @*Submit the bookid but keep it hidden users don't need to see it\*@
        <input type="hidden" asp-for="BookId">

        @*book name*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="BookName" class="form-label pt">Book Name</label>
            </div>
            <div class="flex-1">
                <input asp-for="BookName" class="form-input"/>
                <span asp-validation-for="BookName" class="text-red"></span>
            </div>
        </div>

        @*isOngoing*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <input type="checkbox" name="IsOngoing" id="IsOngoing" value="true">
                <label for="IsOngoing" class="form-label pt">Ongoing?</label>
            </div>
        </div>

        @*BookRating*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="BookRating" class="form-label pt">Book Rating</label>
            </div>
            <div class="flex-1">
                <input asp-for="BookRating" type="text" id="BookRating" name="BookRating" class="form-input"/>
                <span asp-validation-for="BookRating" class="text-red"></span>
            </div>
        </div>

        @*Author*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="AuthorId" class="form-label pt">Author</label>
            </div>
            <div class="flex-1">
                <select asp-for="AuthorId" class="form-input" asp-items="@ViewBag.Authors">
                    <option value="">Please Choose an Author</option>
                    @*@foreach (var author in ViewBag.Authors)
                    {
                        <option value="@author.AuthorId">@author.AuthorName</option>
                    }*@
                </select>
            </div>
        </div>

         @*Publisher*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="Publisher" class="form-label pt">Publisher</label>
            </div>
            <div class="flex-1">
                <input asp-for="Publisher" class="form-input"/>
            </div>
        </div>

        @*PublishedDate*@
        <div class="form-field flex">
            <div class="w-25">
                <label for="PublishedDate" class="form-label pt">Published Date</label>
            </div>
            <div class="flex-1">
                <input asp-for="PublishedDate" type="date" class="form-input"/>
            </div>
        </div>

        @*Genres*@
        <div class="form-field flex">
            <div class="w-25">
                @*[BookUpdateRequest] Genres*@
                <label asp-for="GenresList" class="form-label pt">Genres</label>
            </div>
            <div class="flex-1">
                @foreach (var genre in ViewBag.AvailableGenres)
                {
                    <div class="add-check">
                        <input type="checkbox" id="GenresList" name="GenresList" value="@genre"/>
                        @genre
                    </div>
                }
            </div>
        </div>
        
        @*Submit Button*@
        <div class="form-field flex">
            <div class="w-25">
            </div>
            <div class="flex-1">
                <button class="button button-blue-back">Edit Book</button>
                @if(ViewBag.Errors != null)
                {
                    <div class="text-red">
                        <ul>
                            @foreach(var error in ViewBag.Errors)
                            {
                                <li class="ml">
                                    @error
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
        </div>
    </form>
</div>

@*jquery validation | cross site caching | Fallback scripts*@

@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
}
